.section {
    width: 100%;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px 0;
    border-radius: 5px;
  }
  
  .section.open .articleWrap {
    max-height: 800px;
    transition: max-height .5s ease-in;
  }
  
  .section.open .sectionHead {
    border-radius: 5px 5px 0 0;
  }
  .articleWrap {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
  }
  
  .sectionHead {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1em;
    padding-right: 2.1em;
    border-radius: 5px;
  }
  
  .article {
    padding: 1em;
    color: #333;
    line-height: 1.3;
  }
  