.a_custom{
    font-size: 1.3rem;
    margin: 3px;
    transition: 0.3s;
}

.a_custom:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.7rem;
}

.is_selected {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.7rem;
    margin: 3px;
}

.is_selected:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

